<robot name="beacon">
  <link name="base_link">
    <visual>
    <origin xyz="0 0 0.6" rpy="0 0 0"/>
    <geometry>
      <cylinder length="1.2" radius="1.0"/>
    </geometry>
    </visual>
  </link>

  <link name="laser_link">
    <visual>
    <origin xyz="0 0 1.4" rpy="0 0 0"/>
    <geometry>
      <cylinder length="0.6" radius="0.6"/>
    </geometry>
    <material name="green">
      <color rgba="18.0 255.0 0.0 1.0"/>
    </material>
    </visual>
  </link>

  <joint name="laser_joint" type="fixed">
    <parent link="base_link" />
    <child link="laser_link" />
    <origin xyz="0 0 0.075" />
  </joint>
</robot>